body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: white;
}

.grid {
 
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 35px;
  justify-items: center;
  align-items: center;
  position: relative;
}

.box {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 65px;
  background:red;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  font-size: 40px;
}

.locked {
  background: gray;
  cursor: not-allowed;
}

.modal {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal.hidden {
  display: none;
}

.content {
  background: white;
  padding: 20px;
  border-radius: 4px;
  width: 200px;
  text-align: center;
}

#close {
  cursor: pointer;
  float: right;
}